@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto");


html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
     
}

article {
	display: block;
    margin: 0.4em;
	/*background-color:*/
}
section {
    margin: 0.4em;
}
body {
	
	line-height: 1;
		
}

html {
	box-sizing: border-box;
}


body {
	background-color: #ffffff;
	
		
}
body, input, select, textarea {
	color: #1f1f1f;
	font-family: "Roboto";
	line-height: 1.75em;
}

a {
	-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	border-bottom: solid 1px #e4e0e0;
	color: inherit;
	text-decoration: none;
}

.inner a.uet:hover {
	border-bottom-color: transparent;
	color: #dba100;
}
.inner a.fcc:hover {
	border-bottom-color: transparent;
	color: #1d037c;
}
.inner a.cms:hover {
	border-bottom-color: transparent;
	color: #058501;
}
.inner a.ieee:hover {
	border-bottom-color: transparent;
	color: #00c2a2;
}
.icons a.icon.brands.fa-instagram:hover {
    color:#f00808;
}
.icons a.icon.brands.fa-linkedin:hover {
    color:#1f2ce2;
}
.icons a.icon.brands.fa-github:hover {
    color:#6c05b1;
}
.icons a.icon.solid.fa-envelope:hover {
    color:#09d802;
}

p {
	margin: 1em 0 1em 0;
}


h1, h2, h3, h4, h5, h6 {
	color: #c00000;
	font-weight: 700;
	line-height: 1.5em;
	margin: 0 0 0.75em 0;
}

    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        border: 0;
        color: inherit;
        text-decoration: none;
    }

    h2 {
        font-size: 2em;
        line-height: 1.5em;
    }

    h3 {
        font-size: 1.75em;
        line-height: 1.5em;
    }

    h4 {
        font-size: 1.5em;
        line-height: 1.5em;
    }

    h5 {
        font-size: 1em;
        line-height: 1.5em;
    }

    h6 {
        font-size: 0.9em;
        line-height: 1.5em;
    }

hr {
    border: 0;
    border-bottom: solid 2px #f4f4f4;
    margin: 2.25em 0;
}

    hr.major {
        margin: 3.375em 0;
    }




.ct {
    margin: 0 auto;
    max-width: calc(100% - 4.5em);
    width: 50em;
}

    
    .ct.max {
        width: 100%;
    }

    @media screen and (max-width: 1024px) {

        .ct {
            width: 100% !important;
        }

    }

    @media screen and (max-width: 480px) {

        .ct {
            max-width: calc(100% - 3.375em);
        }

    }


    .icon {
        text-decoration: none;
        border-bottom: none;
        position: relative;
    }

        .icon:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            text-transform: none !important;
            font-family: 'Font Awesome 5 Free';
            font-weight: 400;
        }

        .icon > .label {
            display: none;
        }

        .icon:before {
            line-height: inherit;
        }

        .icon.solid:before {
            font-weight: 900;
        }

        .icon.brands:before {
            font-family: 'Font Awesome 5 Brands';
        }


        .image {
            border-radius: 5px;
            border: 0;
            display: inline-block;
            position: relative;
        }

        

            .image.avatar {
                
                
                height : 11em;
                width: 11em;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                
                overflow: hidden;    
            }

                .image.avatar img{
                    border-radius: 100%;
                }

            
            .image[data-position] img {
                -moz-object-fit: cover;
                -webkit-object-fit: cover;
                -ms-object-fit: cover;
                object-fit: cover;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            .image[data-position="center"] img {
                -moz-object-position: center;
                -webkit-object-position: center;
                -ms-object-position: center;
                object-position: center;
            }

            .image.main {
                display: block;
                position: relative;
                height: 20em;
                
            }
                
            

           
            ol {
                list-style: decimal;
                margin: 0 0 2.25em 0;
                padding-left: 1.25em;
            }
        
                ol li {
                    padding-left: 0.25em;
                }
        
                ul {
                    list-style: disc;
                    margin: 0 0 2.25em 0;
                    padding-left: 1em;
                }
            
                    ul li {
                        padding-left: 0.5em;
                    }
            
                    ul.alt {
                        list-style: none;
                        padding-left: 0;
                    }
            
                        ul.alt li {
                            border-top: solid 2px #f4f4f4;
                            padding: 0.5em 0;
                        }
            
                            ul.alt li:first-child {
                                border-top: 0;
                                padding-top: 0;
                            }

                            ul.feature-icons {
								list-style: none;
								
							}


#w {
    background: #fff;
    
}

*, *:before, *:after {
	box-sizing: inherit;
}

#main > section {
    border-top: solid 6px #f4f4f4;
}

    #main > section > .ct {
        padding: 6em 0 3em 0;
    }

    #main > section:first-child {
        border-top: 0;
    }

    ul.feature-icons {
        list-style: none;
        padding-left: 0;
    }

        ul.feature-icons li {
            text-decoration: none;
            display: inline-block;
            margin: 0 0 1.6875em 0;
            padding: 0.35em 0 0 3.5em;
            position: relative;
            vertical-align: top;
            width: 48%;
        }

            ul.feature-icons li:before {
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                text-transform: none !important;
                font-family: 'Font Awesome 5 Free';
                font-weight: 400;
            }

            ul.feature-icons li:before {
                background: #800000;
                border-radius: 100%;
                color: #ffffff;
                display: block;
                height: 2.5em;
                left: 0;
                line-height: 2.5em;
                position: absolute;
                text-align: center;
                top: 0;
                width: 2.5em;
            }

            ul.icons {
                cursor: default;
                list-style: none;
                padding-left: 0;
            }
        
                ul.icons li {
                    display: inline-block;
                    padding: 0 1em 0 0;
                }
        
                    ul.icons li:last-child {
                        padding-right: 0 !important;
                    }
        
                    ul.icons li .icon:before {
                        font-size: 1.25em;
                    }

                    .features article {
                        border-top: solid 3px #5f0000;
                        margin-bottom: 2.25em;
                        padding-top: 2.25em;
                    }
                
                        .features article:first-child {
                            border-top: 0;
                            padding-top: 0;
                        }
                
                        .features article .image {
                            display: inline-block;
                            padding-right: 2.5em;
                            vertical-align: middle;
                            width: 50%;
                        }
                
                            .features article .image img {
                                display: block;
                                width: 100%;
                            }
                
                        .features article .inner {
                            display: inline-block;
                            vertical-align: top;
                            width: 70%;
                            padding: 0.5em;
                        }
                
                            .features article .inner > :last-child {
                                margin-bottom: 0;
                            }

                            nav ul {
                                list-style-type: square;
                                -moz-transition: none;
                                -webkit-transition: none;
                                -ms-transition: none;
                                transition: none;
                                border: 0;
                                color: #ffffff !important;
                                display: block;
                                padding: 0.85em 0;
                                text-decoration: none;
                            }
                
                                nav ul li {
                                    border-top: solid 2px #5f0000;
                                    display: block;
                                    padding: 0;
                                    list-style-type: none;
                                    text-decoration: none;
                                    border: 0;
                                }
                
                                    nav ul li a {
                                        -moz-transition: none;
                                        -webkit-transition: none;
                                        -ms-transition: none;
                                        transition: none;
                                        border: 0;
                                        color: #ffffff !important;
                                        display: block;
                                        padding: 0.85em 0;
                                        text-decoration: none;
                                    }
                
                                         nav ul li a.active {
                                            background: #fff;
                                            color:#800000 !important;
                                        }
                
                                    nav ul li:first-child {
                                        border-top: 0;
                                    }


                            